<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-cardonasebastian/blob/main/Semana%201(Del%2012%20al%2020%20de%20septiembre)%20-%20Actividad%202%3A%20Python%20for%20Data%20Science%20(IBM).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#first example with python.
print('Hello Python 101')
#first question in lab
print("Hello\nWorld!")

Hello Python 101
Hello
World!

In [15]:
#tipos de datos
#int
#float
#str

#casteo de datos
a = 2.0
f = int(a)
print(f)
print(str(1))
print(str(4.5))
print(bool(1))
print(bool(0))
print(int(True))
print(int(False))

2
1
4.5
True
False
1
0

In [22]:
#variables y expressions

print(43+60+16+41)

print(50-60)

print(5*5)

print(25/5)


my_variable = 1

total_min = 43 + 42 + 57

total_hr = total_min/60

print(total_hr)

# operaciones

25 // 6

x = 43 + 60 + 16 + 41
print(x)
y = x / 60
print(y)

160
-10
25
5.0
2.3666666666666667
160
2.6666666666666665

In [35]:
#operaciones con string
name = "Fernando Sebastian"
num = '01234567'

print(name[0])
print(name[-18])
print(num[::2])

b = len("Fernando Sebastian")
print(b)

#substring
print(name[0:4])
print(name[0:5:2])

3 * "Sebastian"

#Upper
a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

name.find('fer')

F
F
0246
18
Fern
Fra
before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

-1

In [46]:
#listas y tuples

# Create your first tuple

tuple1 = ("disco",10,1.2 )
print(tuple1)

type(tuple1)

# Print the variable on each index

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

# Print the type of value on each index

print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

tuple1[-1]


# Concatenate two tuples

tuple2 = tuple1 + ("hard rock", 10)
tuple2
tuple2[3:5]


len(tuple2)

# A sample tuple

Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

# Sort the tuple

RatingsSorted = sorted(Ratings)
RatingsSorted

# Create a nest tuple

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

# Print element on each index

print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

# Create a list

L = ["Michael Jackson", 10.1, 1982]
L

# Print the elements on each index

print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )


# Sample List
["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]

('disco', 10, 1.2)
disco
10
1.2
<class 'str'>
<class 'int'>
<class 'float'>
Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))
the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: Michael Jackson
the same element using negative and positive indexing:
 Postive: 10.1
 Negative: 10.1
the same element using negative and positive indexing:
 Postive: 1982
 Negative: 1982

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]

In [49]:
#Sets
# Create a set

set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1


# Convert list to set

album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set


# Convert list to set

music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", \
                    "progressive rock", "soft rock", "R&B", "disco"])
music_genres

# Sample set

A = set(["Thriller", "Back in Black", "AC/DC"])
A

# Add element to set

A.add("NSYNC")
A

# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

S={'A','B','C'}

U={'A','Z','C'}

U.union(S)

{'A', 'B', 'C', 'Z'}

In [ ]:
#Dictionaries

# Create the dictionary

Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

# Access to the value by the key

Dict["key1"]

# Access to the value by the key

Dict[(0, 1)]

# Create a sample dictionary

release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

# Get value by keys

release_year_dict['Thriller'] 

# Get all the keys in dictionary

release_year_dict.keys()

# Get all the values in dictionary

release_year_dict.values() 

# Delete entries by key

del(release_year_dict['Thriller'])
del(release_year_dict['Graduation'])
release_year_dict

In [50]:
#Exception Handling

a = 1

try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
    print("Success a=",a)
except:
    print("There was an error")
        

a = 1

try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
    print("Success a=",a)
except ZeroDivisionError:
    print("The number you provided cant divide 1 because it is 0")
except ValueError:
    print("You did not provide a number")
except:
    print("Something went wrong")
        
a = 1

try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
except ZeroDivisionError:
    print("The number you provided cant divide 1 because it is 0")
except ValueError:
    print("You did not provide a number")
except:
    print("Something went wrong")
else:
    print("success a=",a)

Please enter a number to divide a2
Success a= 0.5

In [58]:
#Comparison Operations

x = 2
if(x=='a'):
    print("this is a")
else:
    print("this is  not a")

y=3
x=1
x>0 and y<10

this is  not a

True

In [57]:
#For Loops
A=[3,4,5]
for i in A:  
    print(i) 

x=11
y=1
while(y != x):
    print(y)
    y=y+1

3
4
5
1
2
3
4
5
6
7
8
9
10

In [62]:
#Function

def f(a,b):
    
    return a*b

a=4
b=2

if a*b==f(a,b):   
    print("Correct.")   
else:    
    print("Incorrect.")

def g(c):

    return 
    
c=[1,2,3,4,5]

if sum(c)==g(c):   
    print("Correct.")   
else:    
    print("Incorrect.")

Correct.
Incorrect.

In [63]:
#Clases

class Car(object):
    def __init__(self,make,model,color):
        self.make=make;
        self.model=model;
        self.color=color;
        self.owner_number=0 
    def car_info(self):
        print("make: ",self.make)
        print("model:", self.model)
        print("color:",self.color)
        print("number of owners:",self.owner_number)
    def sell(self):
        self.owner_number=self.owner_number+1

make="BMW"
model="M3"
color="red"

my_car = Car(make,model,color)

my_car.car_info()

make:  BMW
model: M3
color: red
number of owners: 0